.App {
  text-align: center;
  margin-top: 20px;
}

ul {
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
ul > li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 20%;
  border: 1px solid grey;
  margin-bottom: 10px;
  padding: 5px 10px;
}
label {
  display: flex;
  justify-content: space-between;
  width: 20%;
  margin: 0 auto;
}

label > input {
  padding: 5px 10px;
}

.delete {
  color: tomato;
  cursor: pointer;
}
